@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    background: red;
    color: white;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #32CD30;
  &:hover {
    background: indigo;
  }
}

@font-face {
  font-family: "Arial";
  src: url("/fonts/arial.ttf");
  src: url("/fonts/arialbd.ttf");
}
@font-face {
  font-family: "Arsenal-Bold";
  src: url("./fonts/Arsenal-Bold.ttf");
}
@font-face {
  font-family: "Bahnschrift";
  src: url("./fonts/bahnschrift.ttf");
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("./fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("./fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.ttf");
}
